.computers-canvas-container {
    width: 50vw;
    height: 90vh;
    transform: translateY(-150px);
    transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 768px) {
    .computers-canvas-container {
      width: 80vw;
      height: 70vh;
      transform: translateY(-100px);
      
    }
  }
  
  @media screen and (max-width: 500px) {
    .computers-canvas-container {
      width: 90vw;
      height: 60vh;
      transform: translateY(-50px);
    }
  }
  